<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0"> 
  <dict> 
    <key>items1</key>  
    <array> 
      <dict> 
        <key>assets</key>  
        <array> 
          <dict> 
            <key>kind</key>  
            <string>software-package</string>  
            <key>url</key>  
            <string>http://211.149.151.89/aotuxian/data/update/app/20170327021854-app-release-1007.ipa</string> 
          </dict>  
          <dict> 
            <key>kind</key>  
            <string>full-size-image</string>  
            <key>needs-shine</key>  
            <false/>  
            <key>url</key>  
            <string>http://211.149.151.89/aotuxian/data/update/app/ios_pic/20170327021854-test_big.png</string> 
          </dict>  
          <dict> 
            <key>kind</key>  
            <string>display-image</string>  
            <key>needs-shine</key>  
            <false/>  
            <key>url</key>  
            <string>http://211.149.151.89/aotuxian/data/update/app/ios_pic/20170327021854-test_small.png</string> 
          </dict> 
        </array>  
        <key>metadata</key>  
        <dict> 
          <key>bundle-identifier</key>  
          <string>com.aotuxian.cn</string>  
          <key>bundle-version</key>  
          <string>1.0.1</string>  
          <key>kind</key>  
          <string>software</string>  
          <key>subtitle</key>  
          <string>AotuXian</string>  
          <key>title</key>  
          <string>AotuXian</string> 
        </dict> 
      </dict> 
    </array> 
  </dict> 
</plist>